  <!DOCTYPE html>
<html>
  <head>
    <title>Gathr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script>
      $(function(){

        $("body").on("click", ".js-modal-open", function(event){
          event.preventDefault();
          $(".modal").addClass("is-open");
        });

        $("body").on("click", ".js-modal-close", function(event){
          event.preventDefault();
          $(".modal").removeClass("is-open");
        });

      });
    </script>
  </head>

  <body>
    <%= yield %>


    <!--


    <div class="video-banner">
      <div class="overlay"></div>
      <%= video_tag "meetupbanner.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
      <div class="banner-content">
        <div class="banner-content-item">
          <h1 class="banner-text">The real world is calling</h1>
        </div>
        <div class="banner-content-item">
          <h1 class="banner-text-caption">Join a local group to meet people, try something new, or do more of what you love.</h1>
        </div>
        <div class="banner-content-item">
          <button class="join-button">Join Meetup</button>
        </div>
      </div>
    </div>


    -->


  </body>
</html>
