<!DOCTYPE html>
<html>
  <head>
    <title>Gathr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
    <div class="video-banner">
      <%# <h1 id="video-banner-text">Testing</h1> %>
      <%= video_tag "meetupbanner.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
    </div>
  </body>
</html>
