<!DOCTYPE html>
<html>
  <head>
    <title>Gathr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,700" rel="stylesheet">
    <script>
      $(function(){

        $("body").on("click", ".js-modal-open", function(event){
          event.preventDefault();
          $(".modal").addClass("is-open");
        });

        $("body").on("click", ".js-modal-close", function(event){
          event.preventDefault();
          $(".modal").removeClass("is-open");
        });

      });
    </script>
  </head>

  <body>
    <%= yield %>
    <div class="video-banner">

      <%= video_tag "meetupbanner.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
      <div class="banner-content">
        <h1 class="banner-text">The real world is calling</h1>
        <button>Join Meetup</button>
      </div>
    </div>
  </body>
</html>
